.navbar-brand {
	padding-top: 12px;
}

.card {
	margin: 12px;
}

.alert {
	margin: 10px;
}

.aw-required>.control-label:after {
	content: "*";
}

.panel-body {
	margin: 25px;
}

.aw-link-panel {
	float: right;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

.width5 {
	width:5%;
}

.width10 {
	width:10%;
}

.width15 {
	width:15%;
}