<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Template">

<head>
<title>Pesquisa</title>
</head>

<section layout:fragment="conteudo">

	<div class="card card-default">

		<div class="card-header">
			<div class="clearfix">
				
				<h3 class="card-title aw-titulo-panel">Pesquisa de Títulos</h3>
				
				<a class="btn btn-primary aw-link-panel" href="/titulos/novo">Novo</a>
								
				<a class="btn btn-outline-primary aw-link-panel"
					href="/titulos/api/todosTitulos" target="_blank">API</a>
				<!--  (http://192.168.1.8:8080/titulos/api/todosTitulos) -->
			</div>
		</div>

		<div class="panel-body">

			<div class="table-responsive">
				<!--<table class="table table-bordered table-striped">-->
				<table class="table table-hover table-dark">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Decrição</th>
							<th class="text-center">Data de vencimento</th>
							<th class="text-center">Valor</th>
							<th class="text-center">Status</th>
							<th class="text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo : ${titulos}">
							<td class="text-center width5" th:text="${titulo.codigo}"></td>
							<td class="text-center" th:text="${titulo.descricao}"></td>
							<td class="text-center width10"
								th:text="${{titulo.dataVencimento}}"></td>
							<td class="text-center width15" th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center width5">
								<button class="btn" th:text="${titulo.status.descricao}"
									th:classappend="${titulo.pendente ? 'btn-danger' : 'btn-success'}"></button>
							</td>
							<td class="text-center width10">
								<button class="btn btn-outline-primary btn-sm" th:text="Alterar"></button>
								<button class="btn btn-outline-danger btn-sm" th:text="Apagar"></button>
							</td>
						</tr>

						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum
								título foi encontrado</td>
						</tr>
						<!--<tr>
							<td class="text-center">1</td>
							<td class="text-center">Apenas um teste</td>
							<td class="text-center">03/03/2001</td>
							<td class="text-center">R$ 199,99</td>
							<td class="text-center">Recebido</td>
							<td class="text-center"></td>
						</tr>-->
					</tbody>
				</table>
			</div>

		</div>
	</div>
</section>

</html>
