<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Pesquisa de título</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>

<body>

	<nav class="navbar navbar-inverse navbar-static-top bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="https://www.algaworks.com/"
					target="_blank"> <img alt="AlgaWorks"
					src="/images/logo-algaworks.png" />
				</a>
			</div>
		</div>
	</nav>

	<div class="card card-default">
		<div class="card-header">
			<h3 class="card-title">Pesquisa de Títulos</h3>
		</div>

		<div class="panel-body">

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Decrição</th>
							<th class="text-center">Data de vencimento</th>
							<th class="text-center">Valor</th>
							<th class="text-center">Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<!-- tr><td colspan="6">Nenhum título foi encontrado</td></tr-->
						<tr>
							<td class="text-center">1</td>
							<td class="text-center">Apenas um teste</td>
							<td class="text-center">03/03/2001</td>
							<td class="text-center">R$ 199,99</td>
							<td class="text-center">Recebido</td>
							<td class="text-center"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<!-- https://code.jquery.com/jquery-3.4.1.slim.min.js -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
